/* Formularios
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.formulario {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-color: rgba(242, 242, 242, 0.8);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  max-width: 800px;
  min-width: 400px;
}
.form-field a {
  color: var(--primary-color);
  font-weight: bold;
}

.form-field {
  margin: 1rem 0.5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .form-field.medium {
    width: 62%;
  }

  .form-field.short {
    width: 30%;
  }
}

.form-field .field-data {
  font-size: 1.1rem;
}
.formulario h2 {
  text-transform: uppercase;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea,
select {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface1-color);
  color: var(--element3-color);
  width: 100%;
}
.form-field .label-title {
  font-size: 1.4rem;
}

/* Errores */
.error {
  font-size: 0.9rem;
  color: var(--error-color);
}
.border-focus {
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 4px 0px var(--secondary-color);
}
.border-error {
  border: 1px solid var(--error-color);
  box-shadow: 0px 0px 8px 0px var(--error-bg);
}
.border-success {
  border: 1px solid var(--success-color);
}
.form-field.validate {
  padding: 0.2rem 0;
  border-radius: 0.5rem;
}

.validate.error-div {
  border: 1px solid var(--error-color);
  background-color: var(--error-bg);
  color: var(--error-color);
}
.validate.success-div {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--success-color);
}

/* Formulario Login*/
.f-login {
  max-width: 400px;
}

/* Modal condiciones
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 0.5rem;
  background: var(--surface2-color);
  overflow: auto;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  background: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-header h3 {
  margin: 0;
  text-align: center;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}
